@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}
body {
    background-color: #04bf8a98;
}
main {
    background-color: white;
    width: 800px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
    padding: 10px;
    margin: auto;
    
}
main > h1 {
    font-family: 'idroid';
    color: #025940;
}

header {
    background-image: linear-gradient( #56f1c5, #025940);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
}
header > h2 {
    font-size: 15px;
    
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
nav > a:hover {
    background-color: #289979e1;
    padding: 10px;
    color: #01523b;
}

main > p {
    text-align: justify;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
}
span {
    color: #025940;
    
}
h2 {
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.295), white);
    font-family: 'idroid';
    color: #025940;
    margin: 10px;
}
a.links {
    text-decoration: none;
    color: #025940;
}
a.links:hover {
    color: #025940;
}
div {
    background-color: #01523b;
    text-align: center;
    padding: 20px;
}
section {
    background-color: rgba(8, 165, 87, 0.445);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
}
section > h1 {
    background-color: #07ad5298;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
section > p {
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    color: white;
    background-color: #01523b;
    padding: 5px;
}